@font-face {
    font-family: 'AngelinHeart';
    src: url('assets/fonts/Angelin Heart.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Linford ttf.ttf';
    src: url('assets/fonts/Linford ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
    color: #222;
}

.imagem-banner {
    width: 100%;
    height: auto;
    display: block;
}

/* MENU */
.menu {
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    padding: 10px 0;
    z-index: 1000;
}

.menu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    height: 60px;
}

.navegacao a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.navegacao a:hover {
    text-decoration: underline;
}

.botao {
    background: white;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
}

/* BANNER */
.banner {
    background: url('img/banner.jpg') center/cover no-repeat;
    color: white;
    text-align: center;
}

/* SEÇÕES */
.secao {
    padding: 80px 150px;
    text-align: center;
    font-family: 'Linford ttf.ttf';
}

.secao  h2 {
    font-family: 'AngelinHeart' , cursive;
    
}

.secao h4 {
    font-family: 'Linford ttf.ttf';
    font-size: 20px;
}

.grade-produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.produto {
    background: #ddd;
    padding: 25px 0;
    border-radius: 5px;
}

.produto img {
    height: 250px;
    border-radius: 5px;
}

/* SOBRE */
.sobre-conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.imagem-sobre {
    max-width: 400px;
    border-radius: 10px;
}

/* BOTÃO WHATSAPP */
.botao-whatsapp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: #25D366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.botao-whatsapp img {
    width: 35px;
}

/* RODAPÉ */
.rodape {
    background: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

.container-rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.rodape img {
    width: 40px;
    padding: 5px;
}

#logo-rodape {
    width: 100%;
}

/*Carroel de imagens*/
.carrossel-container {
    position: relative;
    width: 95%;
    margin: 40px auto;
    overflow: hidden;
}

.carrossel {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease;
}

.carrossel .item {
    min-width: calc(33.33% - 20px);
    background: #ddd;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.carrossel .item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.carrossel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    opacity: 0.7;
    z-index: 10;
}

.carrossel-btn:hover {
    opacity: 1;
}

.carrossel-btn.esquerda {
    left: 10px;
}

.carrossel-btn.direita {
    right: 10px;
}

/* Responsivo */
@media (max-width: 768px) {
    .carrossel .item {
        min-width: calc(50% - 20px); /* 2 por vez no tablet */
    }
}

@media (max-width: 500px) {
    .carrossel .item {
        min-width: 100%; /* 1 por vez no celular */
        height: auto;
    }
    .secao {
        padding: 60px 20px;
    }

}